.btn-container {
  display: flex;
  border: solid 2px green;
  margin-top: 6%;
}

.form-group {
  margin: 5%;
}

.login-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Move the container back by half of its own width and height, w/out this, top left corner of container would be in center */
  border: solid 2px rebeccapurple;
}

.login-form {
  border: 2px solid red;
  width: 20vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.5);
  border-radius: 10%;
}
